/* ==========================================================================
  Typography
========================================================================== */

html, body, button {
  -webkit-font-smoothing: antialiased;
}

body {
  @include fontLight();
  font-size: $fontBase;
  color: $colorText;
  line-height: $lineHeight;
  background: $colorGrayXDark;

  @include breakpoint(medium) {
    font-size: $fontBase - 2;
    &.show-nav {
      height: 100%;
      overflow-y: hidden;
      width: 100%;
      position: fixed !important;
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p, ul, ol {
  padding: 0 0 15px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include fontBold();
  color: $colorGrayXDark;
  line-height: $lineHeightHeader;
  text-rendering: optimizeLegibility;
}

.h1, h1 {
  font-size: $fontH1;
  @include breakpoint(large) {
    font-size: $fontH1 - 2;
  }
  @include breakpoint(medium) {
    font-size: $fontH1 - 6;
  }
}

.h2, h2 {
  font-size: $fontH2;
  @include breakpoint(large) {
    font-size: $fontH2 - 2;
  }
  @include breakpoint(medium) {
    font-size: $fontH2 - 5;
  }
}

.h3, h3 {
  font-size: $fontH3;
  @include breakpoint(large) {
    font-size: $fontH3 - 2;
  }
  @include breakpoint(medium) {
    font-size: $fontH3 - 6;
  }
}

.h4, h4 {
  font-size: $fontH4;
  @include fontRegular();
  @include breakpoint(large) {
    font-size: $fontH4 - 2;
  }
  @include breakpoint(medium) {
    font-size: $fontH4 - 3;
  }
}

h5, .h5 {
  font-size: $fontH5;
}

h6, .h6 {
  font-size: $fontH6;
}

.small,
small {
  @include fontRegular();
  font-size: $fontSmall - 1;
  color: $colorGray;
}

.strong,
strong {
  font-weight: bold;
}

time {
  color: $colorGray;
  @include fontBold();
}