/* ==========================================================================
  Lists
========================================================================== */


ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  counter-reset: list;
  > li {
    position: relative;
    padding-left: 32px;
    &:before {
      counter-increment: list;
      content: "0" counter(list);
      color: inherit;
      font-weight: 400;
      display: inline-block;
      position: absolute;
      left: 0;
    }
  }
}

.list-inline {
  li {
    display: inline-block;
  }
  @include breakpoint(small) {
    display: block;
    li {
      display: block;
      margin: 0;
      padding: 0 0 10px;
      &:last-of-type {
        padding: 0;
      }
    }
  }
}

.list-inline-spacer-right {
  li {
    display: inline-block;
    margin: 0 30px 0 0;
    &:last-of-type {
      margin: 0;
    }
  }

  @include breakpoint(large) {
    li {
      margin: 0 20px 0 0;
    }
  }
  @include breakpoint(small) {
    display: block;
    li {
      display: block;
      margin: 0;
      padding: 0 0 10px;
      &:last-of-type {
        padding: 0;
      }
    }
  }
}

.list-inline-spacer {
  li {
    display: inline-block;
    margin: 0 5px;
  }
  @include breakpoint(small) {
    display: block;
    li {
      display: block;
      margin: 0;
      padding: 0 0 10px;
      &:last-of-type {
        padding: 0;
      }
    }
  }
}

.list-inline-middle {
  li {
    display: inline-block;
    vertical-align: middle;
  }
  @include breakpoint(small) {
    display: block;
    li {
      display: block;
      margin: 0;
      padding: 0 0 10px;
      &:last-of-type {
        padding: 0;
      }
    }
  }
}

.list-spacer {
  li {
    padding: 0 0 4px;
    &:last-of-type {
      padding: 0;
    }
  }
}

.list-staff-contact {
  display: block;
  width: 100%;
  border: 1px solid $colorGrayLight;
  border-radius: 4px;
  li {
    display: block;
    width: 100%;
    border-bottom: 1px solid $colorGrayLight;
    padding: 12px 15px;
    @include clearfix();
    &:last-of-type {
      border-bottom: none;
    }
    &:nth-of-type(even) {
      background-color: $colorGrayXLight;
    }
  }
  a {
    float: right;
    @include fontBold();
  }

  @include breakpoint(large) {
    font-size: $fontSmall;
  }
  @include breakpoint(medium) {
    a {
      float: none;
      display: block;
    }
  }
}

.list-faq {
  > li {
    display: block;
    padding: 0 0 $padding;
  }
  h3 {
    padding: 0 0 10px;
  }
  p {
    padding: 0;
  }
  ul {
    padding: 10px 0 0 0;
  }
}

.list-partners {
  img {
    max-width: 140px;
    height: auto;
  }
}









