/* ==========================================================================
  Classes
========================================================================== */


/*==========  FLOATS/ORDER  ==========*/

.left {
  float: left;
}

.right {
  float: right;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}



/*==========  TEXT  ==========*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-white {
  color: #fff;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-highlight {
  @include fontRegular();
  font-size: $fontLarge;

  @include breakpoint(medium) {
    font-size: $fontLarge - 2;
  }
}


/*==========  BACKGROUND - COLORS ==========*/

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: $colorGrayXLight;
  .page-id-154 & {
    background-color: $colorBlue;
    h3, h4 {
      color: #fff;
    }
  }
  .page-id-156 & {
    background-color: $colorGray;
    h3, h4 {
      color: #fff;
    }
  }
  .page-id-158 & {
    background-color: $colorGrayDark;
    h3, h4 {
      color: #fff;
    }
  }
  .page-id-160 & {
    background-color: $colorBlueDark;
    h3, h4 {
      color: #fff;
    }
  }
}

.bg-gray-dark {
  background-color: $colorGrayLight;
}

.bg-red {
  background-color: $colorRedLight;
}

.bg-blue {
  background-color: $colorBlueLight;
}



/*==========  BACKGROUND - IMAGES ==========*/

.bg-blue-img {
  background-image: url(../img/headers/header-blue.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-red-img {
  background-image: url(../img/headers/header-red.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}



/*==========  ALIGNMENT  ==========*/

.flex-v-align {
  align-items: center;
}

.flex-t-align {
  align-items: flex-start;
}

.flex-b-align {
  align-items: flex-end;
}



/*==========  HIDE  ==========*/

.hide {
  display: none;
  visibility: hidden;
}

.tablet-hide {
  @include breakpoint(medium) {
    display: none;
    visibility: hidden;
  }
}

.mobile-hide {
  @include breakpoint(small) {
    display: none;
    visibility: hidden;
  }
}



/*==========  UTILITIES  ==========*/

.break {
  display: block;

  @include breakpoint(large) {
    display: inline;
  }
  @include breakpoint(medium) {
    display: inline;
  }
  @include breakpoint(small) {
    display: inline;
  }
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}




