/* ==========================================================================
  Variables
========================================================================== */


/*==========  DEFINE BREAKPOINTS  ==========*/

$xSmall: 555px !default;
$small: 740px !default;
$medium: 950px !default;
$large: 1170px !default;


/*==========  SPACING  ==========*/

$padding: 30px;
$margin: 50px;


/*==========  COLORS  ==========*/

$colorGray: #8C9393 !default;
$colorGrayDark: #666C6C !default;
$colorGrayXDark: #262626 !default;
$colorGrayLight: #DDE0E0 !default;
$colorGrayXLight: #F5F6F6 !default;

//$colorRed: #C95050 !default;
$colorRed: #9e211c !default;
$colorRedLight: #ff0002 !default;
$colorRedDark: #9b1d18 !default;

//$colorYellow: #D2BE14 !default;
$colorYellow: #ffcd26 !default;
$colorYellowLight: #FFE500 !default;
$colorYellowDark: #6C620C !default;

$colorBlue: #63AEB1 !default;
$colorBlueLight: #85E1E5 !default;
$colorBlueDark: #325A5B !default;

$colorText: $colorGrayDark;
$colorBtn: $colorYellow;

$colorLink: $colorYellow;
$colorLinkHover: $colorGrayXDark;


/*==========  FONTS  ==========*/

$fontSmall: 14px !default;
$fontBase: 16px !default;
$fontLarge: 19px !default;

$fontH1: 44px !default;
$fontH2: 30px !default;
$fontH3: 24px !default;
$fontH4: 20px !default;
$fontH5: 16px !default;
$fontH6: 12px !default;

$lineHeight: 1.5 !default;
$lineHeightHeader: 1.2 !default;

$fontRegular: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;