/* ==========================================================================
  Callout
========================================================================== */


.callout {
  background: url(../img/header.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 230px 0 170px;
  margin-top: -135px;
  position: relative;
}