/* ==========================================================================
  Callout
========================================================================== */


.callout {
  background-image: url(../img/headers/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  padding: 200px 0 90px;
  margin-top: -135px;
  position: relative;
  animation: fadeIn 0.4s 0.35s both;
  h1 {
    animation: fadeIn 0.4s 0.4s both;
  }
  p {
    animation: fadeIn 0.4s 0.45s both;
  }
  .btn {
    animation: fadeIn 0.4s 0.5s both;
  }

  .home & {
    padding: 230px 0 170px;
  }
  .page-template-page-about-php & {
    background-image: url(../img/headers/header-about.jpg);
  }
  .page-template-page-about-contact-php & {
    background-image: url(../img/headers/header-about.jpg);
  }
  .page-template-page-team-php & {
    background-image: url(../img/headers/header-teams.jpg);
  }
  .page-template-page-academy-php & {
    background-image: url(../img/headers/header-about.jpg);
  }
  .page-template-page-events-php & {
    background-image: url(../img/headers/header-about.jpg);
  }
  .post-type-archive-video & {
    background-image: url(../img/headers/header-about.jpg);
  }
  .page-template-page-programs & {
    background-image: url(../img/headers/header-about.jpg);
  }

  @include breakpoint(large) {
    padding: 180px 0 70px;
    .home & {
      padding: 190px 0 120px;
    }
  }
  @include breakpoint(medium) {
    margin-top: -95px;
    padding: 115px 0 30px;
    transition: opacity 0.13s ease-in-out;
    animation: none;
    .home & {
      padding: 115px 0 60px;
    }
    .show-nav & {
      opacity: 0.5;
    }
    h1, p, .btn {
      animation: none;
    }
  }
}

.callout-video {
  background-image: none;
  background-color: $colorGrayXDark;
  .container {
    z-index: 3;
  }
}

.callout-video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  animation: fadeIn 0.5s 0.8s both;
  backface-visibility: hidden;
  transform: translateZ(0);

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(34, 41, 41, 0.8);
    z-index: 2;
    backface-visibility: hidden;
  transform: translateZ(0);
  }

  video {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    backface-visibility: hidden;
  transform: translateZ(0);
  }
}

.nav-secondary {
  padding: 20px 0 19px;
  @include fontBold();
  font-size: $fontSmall;
  li {
    margin: 0 15px 0 0;
    &:last-of-type {
      margin: 0;
    }
  }
  .current_page_item {
    a {
      color: $colorGrayXDark;
    }
  }
  a {
    color: $colorGrayDark;
    &:hover,
    &:focus {
      color: $colorGrayXDark;
    }
  }

  @include breakpoint(small) {
    padding: 15px 0;
    li {
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 0;
    }
  }
}