/* ==========================================================================
  Header
========================================================================== */


header {
  background: $colorGrayXDark;
  padding: 15px 0 20px;
  z-index: 10;
  position: relative;
  animation: fadeIn 0.4s 0.2s both;
  .home & {
    background: transparent;
  }
  @include breakpoint(medium) {
    animation: none;
  }
}

.header-mobile {
  display: none;
  @include breakpoint(medium) {
    display: block;
    transition: opacity 0.13s ease-in-out;
    .show-nav & {
      opacity: 0.5;
    }
  }
  @include breakpoint(small) {
    padding: 10px 0;
  }
}

.logo-mobile {
  @include breakpoint(small) {
    display: block;
    width: 48px;
    float: left;
  }
}

.nav-show {
  display: block;
  width: 40px;
  float: right;
  padding: 15px 0 0;
  &:hover,
  &:focus {
    span {
      background: $colorBlueLight;
    }
  }
  span {
    background: #fff;
    display: block;
    width: 100%;
    height: 4px;
    margin: 0 0 4px;
    transition: all 0.13s ease-in-out;
  }

  @include breakpoint(small) {
    padding: 10px 0 0 0;
  }
}

.nav-hide {
  position: absolute;
  top: 0px;
  right: 10px;
  display: none;
  &:hover,
  &:focus {
    .icon-svg {
      stroke: $colorBlue;
    }
  }

  @include breakpoint(medium) {
    display: block;
  }
}

.header-main {
  @include breakpoint(medium) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 40px 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transform: translateX(100%);
    transition: transform 0.15s ease-in-out;
    .show-nav & {
      transform: translateX(0%);
    }
    .home & {
      background: $colorGrayXDark;
    }
    .container {
      width: auto;
    }
    .text-right {
      text-align: left;
    }
  }
  @include breakpoint(small) {
    padding: 20px 0;
  }
}


.dropdown {
  font-size: $fontH6;
  text-transform: lowercase;
  position: relative;
  z-index: 2;
  animation: fadeIn 0.4s 0.55s both;
  @include fontBold();
  a {
    color: #fff;
    &:hover,
    &:focus {
      color: $colorBlue;
    }
  }

  @include breakpoint(medium) {
    display: inline-block;
  }
}

.show-dropdown {
  .list-dropdown {
    height: 57px;
    opacity: 1;
  }
}

.hide-show-dropdown {
  &:hover,
  &:focus {
    span {
      transform: translateY(2px);
    }
  }
  span {
    margin-left: 7px;
    transition: transform 0.13s ease-in-out;
  }
}

.list-dropdown {
  position: absolute;
  padding: 5px 15px 0 0;
  top: 100%;
  right: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.13s ease-in-out, height 0.1s ease-in-out;
}


.logo-main {
  display: inline-block;
  margin: 0 40px 0 0;
  animation: fadeIn 0.4s 0.4s both;
  @include breakpoint(medium) {
    display: none;
  }
}


.nav-main {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-transform: uppercase;
  animation: fadeIn 0.4s 0.45s both;
  @include fontBold();
  li {
    margin: 0 15px 0 0;
  }
  a {
    color: #fff;
    &:hover,
    &:focus {
      color: $colorBlue;
    }
  }

  @include breakpoint(medium) {
    li {
      display: block;
      margin: 0 0 5px 0;
    }
  }
}


.nav-utility {
  position: relative;
  bottom: -15px;
  animation: fadeIn 0.4s 0.5s both;
  li {
    margin: 0 0 0 5px;
  }
  .social {
    margin: 0 8px 0 0;
    position: relative;
    bottom: -2px;
  }
  @include breakpoint(medium) {
    padding: 20px 0 0 0;
    bottom: auto;
    li {
      display: block;
      margin: 0 0 10px 0;
    }
    .social {
      display: inline-block;
      padding: 0 0 10px;
    }
    .btn {
      display: block;
    }
  }
}

.social {
  a {
    &:hover,
    &:focus {
      span {
        fill: $colorBlue;
      }
    }
  }
}