/* ==========================================================================
  Header
========================================================================== */


header {
  background: transparent;
  padding: 5px 0 20px;
  z-index: 10;
  position: relative;
  animation: fadeIn 0.4s 0.2s both;
  .page-template-page-form & {
    @extend .bg-gradient;
  }
  @include breakpoint(medium) {
    animation: none;
  }
}

.header-mobile {
  display: none;
  @include breakpoint(medium) {
    display: block;
    padding: 15px 0;
    transition: opacity 0.13s ease-in-out;
    .show-nav & {
      opacity: 0.5;
    }
  }
  @include breakpoint(small) {
    padding: 10px 0;
  }
}

.logo-mobile {
  @include breakpoint(small) {
    display: block;
    width: 48px;
    float: left;
  }
}

.nav-show {
  display: block;
  width: 40px;
  float: right;
  padding: 15px 0 0;
  &:hover,
  &:focus {
    span {
      background: $colorYellow;
    }
  }
  span {
    background: #fff;
    display: block;
    width: 100%;
    height: 4px;
    margin: 0 0 4px;
    transition: all 0.13s ease-in-out;
  }

  @include breakpoint(small) {
    padding: 10px 0 0 0;
  }
}

.nav-hide {
  position: absolute;
  top: 0px;
  right: -10px;
  display: none;
  &:hover,
  &:focus {
    .icon-svg {
      stroke: $colorYellow;
    }
  }

  @include breakpoint(medium) {
    display: block;
  }
}

.header-main {

  @include breakpoint(medium) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 40px 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transform: translateX(100%);
    transition: transform 0.13s ease-in-out;
    background: linear-gradient(#6d1614, #9d1f1c);

    .show-nav & {
      transform: translateX(0%);
    }
    .container {
      width: auto;
    }
    .text-right {
      text-align: left;
    }
  }
  @include breakpoint(small) {
    padding: 20px 30px 20px 0;
  }

  .single-event &,
  .single-accomplishment & {
    background: linear-gradient(#6d1614, #9d1f1c);
  }
}


.dropdown {
  font-size: $fontH6;
  text-transform: lowercase;
  position: relative;
  float: right;
  padding: 4px 10px;
  border: 2px solid transparent;
  border-radius: 3px;
  z-index: 2;
  animation: fadeIn 0.4s 0.55s both;
  transition: border 0.13s ease-in-out;
  @include fontBold();
  @include clearfix();

  &:hover {
    border-color: #fff;
    color: #fff;
  }

  a {
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
    }
  }

  &.show-dropdown {
    border-color: $colorYellow;
    border-color-bottom: transparent;
    background: #fff;
    a {
      color: $colorGrayXDark;
      &:hover,
      &:focus {
        color: $colorGrayXDark;
      }
    }
  }

  @include breakpoint(medium) {
    display: inline-block;
    float: none;
  }
}

.show-dropdown {
  .hide-show-dropdown {
    span {
      transform: rotate(180deg);
      color: $colorYellow;
    }
  }
  .list-dropdown {
    height: 76px;
    opacity: 1;
  }
}

.hide-show-dropdown {
  &:hover,
  &:focus {
    color: #fff;
  }
  span {
    margin-left: 7px;
    transition: transform 0.13s ease-in-out;
  }
}

.list-dropdown {
  position: absolute;
  padding: 5px 10px;
  top: 100%;
  right: -2px;
  left: -2px;
  margin-top: -2px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  background: #fff;
  border: 2px solid $colorYellow;
  border-top: none;
  border-radius: 0 0 3px 3px;
  text-transform: none;
  text-align: left;
  transition: opacity 0.13s ease-in-out, height 0.1s ease-in-out;

  li {
    padding: 0 0 3px;
    &:last-of-type {
      padding: 0;
    }
  }

  .show-dropdown & {
    a {
      color: $colorGrayXDark;
      &:hover {
        color: $colorYellow;
      }
    }
  }
}


.logo-main {
  display: inline-block;
  margin: 0 40px 0 0;
  animation: fadeIn 0.4s 0.4s both;

  @include breakpoint(large) {
    margin: 0 20px 0 0;
  }
  @include breakpoint(medium) {
    display: none;
  }
}


.nav-main {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-transform: uppercase;
  animation: fadeIn 0.4s 0.45s both;
  @include fontBold();
  li {
    margin: 0 15px 0 0;
    &:last-of-type {
      margin: 0;
    }
  }
  .current_page_item {
    a {
      color: $colorYellow;
    }
  }
  a {
    color: #fff;
    &:hover,
    &:focus {
      color: $colorYellow;
    }
  }

  @include breakpoint(medium) {
    li {
      display: block;
      margin: 0 0 5px 0;
    }
  }
}


.nav-utility {
  position: relative;
  bottom: -15px;
  animation: fadeIn 0.4s 0.5s both;
  li {
    margin: 0 0 0 5px;
  }
  .social {
    margin: 0 8px 0 0;
    position: relative;
    bottom: -2px;
  }
  @include breakpoint(medium) {
    padding: 20px 0 0 0;
    bottom: auto;
    li {
      display: block;
      margin: 0 0 10px 0;
    }
    .social {
      display: inline-block;
      padding: 0 0 10px;
    }
    .btn {
      display: block;
    }
  }
}

.social {
  a {
    &:hover,
    &:focus {
      span {
        fill: $colorYellow;
      }
    }
  }
}