/* ==========================================================================
  Box Event
========================================================================== */


.box-event {
  background: #fff;
  border: 3px solid #fff;
  border-top: 4px solid $colorBlueLight;
  border-radius: 4px;
  height: 230px;
  padding: 20px 17px;
  position: relative;
  display: block;
  backface-visibility: hidden;
  &:hover,
  &:focus {
    border-color: $colorBlueLight;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    .icon-svg {
      transform: translateX(2px);
    }
  }

  @include breakpoint(medium) {
    padding: 15px 7px;
    height: 200px;
    time {
      font-size: $fontSmall;
    }
  }
}

.box-event--border {
  box-shadow: 0 0 1px 0 $colorGray;
}

.view-item {
  color: $colorGrayDark;
  position: absolute;
  bottom: 20px;
  right: 20px;
  span {
    width: 32px;
    height: 32px;
    border: 2px solid $colorBlueLight;
    border-radius: 100%;
    padding: 7px 0 0 1px;
    position: relative;
    bottom: -11px;
    margin: 0 0 0 5px;
    .icon-svg {
      width: 9px;
      height: 14px;
      margin: 0 auto;
    }
  }

  @include breakpoint(medium) {
    bottom: 15px;
    right: 10px;
  }
}