/* ==========================================================================
  Box Video
========================================================================== */


.box-video {
  height: 230px;
  width: 100%;
  background: #000;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  &:hover,
  &:focus {
    .icon {
      opacity: 0;
      transition: opacity 0.13s ease-in-out;
    }
    .video-title {
      opacity: 1;
      transform: translateY(-50%);
      h6 {
        transform: translateY(0px);
      }
    }
    img {
      opacity: 0.4;
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 100%;
    padding: 0 0 0 4px;
    z-index: 5;
    transition: opacity 0.13s 0.02s ease-in-out;
    backface-visibility: hidden;
  }
  .icon-svg {
    height: 27px;
    margin: 0 auto;
    @include vAlign();
  }
  img {
    position: absolute;
    top: -40px;
    left: -20px;
    transition: opacity 0.13s ease-in-out;
    min-width: 420px;
    backface-visibility: hidden;
  }
  @include breakpoint(medium) {
    height: 200px;
    padding: 20px 10px;
    &:hover,
    &:focus {
      .icon {
        opacity: 1;

      }
      .video-title {
        opacity: 1;
        h6 {
          transform: none;
        }
      }
    }
    .icon {
      margin: 0;
      top: auto;
      right: 10px;
      bottom: 10px;
      left: auto;
      width: 40px;
      height: 40px;
      .icon-svg {
        height: 17px;
      }
    }
    img {
      opacity: 0.4;
    }
  }
}

.video-title {
  opacity: 0;
  position: relative;
  z-index: 5;
  display: block;
  transition: opacity 0.13s ease-in-out, transform 0.13s ease-in-out;
  @include vAlign();
  transform: translateY(-35%);
  backface-visibility: hidden;
  h3 {
    color: #fff;
  }
  h6 {
    color: $colorBlueLight;
    transform: translateY(5px);
    transition: transform 0.13s 0.05s ease-in-out;
  }
  @include breakpoint(medium) {
    opacity: 1;
    transform: translateY(-50%);
    h6 {
      transform: none;
    }
  }
}