/* ==========================================================================
  Button
========================================================================== */


.btn {
  display: inline-block;
  padding: 7px 17px 6px;
  text-align: center;
  text-decoration: none;
  outline: 0;
  background: $colorBtn;
  color: #231f20;
  border: 2px solid $colorBtn;
  font-size: 14px;
  border-radius: 3px;
  transition: all 0.13s ease-in-out;
  @include fontBold();
  font-family: $fontRegular;
  font-style: normal;
  &:hover,
  &:focus {
    background: #231f20;
    border-color: #231f20;
    color: $colorYellow;
  }

  &.btn--primary {
    padding: 10px 33px 9px;
  }
  &.btn--secondary {
    font-size: $fontH6;
    padding: 5px 19px 4px;
    text-transform: uppercase;
  }

  &.btn--black {
    background: #231f20;
    border-color: #231f20;
    color: $colorYellow;
    &:hover,
    &:focus {
      background: $colorYellow;
      border-color: $colorYellow;
      color: #231f20;
    }
  }
  &.btn--yellow {
    background: $colorYellowLight;
    border-color: $colorYellowLight;
    color: $colorYellowDark;
    &:hover,
    &:focus {
      background: $colorYellow;
      border-color: $colorYellow;
      color: #fff;
    }
  }

  &.btn--outline {
    background: none;
  }
  &.btn--outline-white {
    background: none;
    border-color: #fff;
    color: #fff;
    &:hover,
    &:focus {
      background: $colorYellow;
      border-color: $colorYellow;
      color: #231f20;
    }
  }
  &.btn--outline-gray {
    background: none;
    border-color: $colorGrayLight;
    color: $colorGray;
    &:hover,
    &:focus {
      background: $colorGrayLight;
    }
  }

  &.btn--block {
    display: block;
    width: 100%;
  }

  &.btn--filter {
    &.active {
      border-color: #231f20;
      background: #231f20;
      color: $colorYellow;
      &:hover,
      &:focus {
        border-color: $colorYellow;
        background: $colorYellow;
        color: #231f20;
      }
    }
  }

  &.loading {
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border: 2px solid $colorYellow;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -6px;
      animation: spinner 0.4s infinite linear;
    }
  }

  @include breakpoint(medium) {
    padding: 7px 12px 6px;
    &.btn--primary {
      padding: 10px 13px 9px;
    }
    &.btn--secondary {
      padding: 5px 9px 4px;
    }
  }
  @include breakpoint(small) {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    font-size: $fontSmall;
  }
}

.btn--wrap-outline {
  a {
    @extend .btn;
    @extend .btn--outline;
    @extend .btn--block;
  }
}