/* ==========================================================================
  Icons
========================================================================== */


.icon {
  display: inline-block;
  overflow: hidden;
}

.icon-inline {
  vertical-align: middle;
  margin-right: 15px;
}

.icon-circle {
  width: 70px;
  height: 70px;
  border: 3px solid $colorYellow;
  border-radius: 100%;
  .icon-svg {
    margin: 0 auto;
  }
}

.icon-svg {
  display: block;
  width: 100%;
  height: 100%;
}



/////////////// circles

.icon-globe {
  padding: 14px 1px 0 0;
  .icon-svg {
    height: 36px;
  }
}

.icon-map-marker {
  padding: 13px 0 0 0;
  .icon-svg {
    height: 37px;
  }
}

.icon-pennant {
  padding: 14px 0 0 6px;
  .icon-svg {
    height: 34px;
  }
}

.icon-soccer-ball {
  padding: 14px 1px 0 0;
  .icon-svg {
    height: 36px;
  }
}

.icon-soccer-pitch {
  padding: 13px 0 0 2px;
  .icon-svg {
    height: 38px;
  }
}

.icon-trophy {
  padding: 15px 0 0 0;
  .icon-svg {
    height: 38px;
  }
}



/////////////// non-circles

.icon-arrow-down {
  width: 10px;
  height: 7px;
  fill: $colorYellow;
}

.icon-arrow-down-line {
  width: 14px;
  height: 9px;
  fill: $colorYellow;
}

.icon-arrow-right {
  width: 25px;
  height: 21px;
  fill: $colorYellow;
}

.icon-arrow-left-line {
  width: 9px;
  height: 14px;
  fill: $colorYellow;
}

.icon-arrow-right-line {
  width: 9px;
  height: 14px;
  fill: $colorYellow;
}

.icon-grid {
  width: 16px;
  height: 18px;
  fill: $colorYellow;
}

.icon-facebook {
  width: 8px;
  height: 15px;
  fill: #fff;
}

.icon-instagram {
  width: 15px;
  height: 14px;
  fill: #fff;
}

.icon-instagram-large {
  width: 30px;
  height: 28px;
}

.icon-twitter {
  width: 14px;
  height: 11px;
  fill: #fff;
}

.icon-x {
  width: 20px;
  height: 20px;
  .icon-svg {
    stroke: #fff;
  }
}


/////////////// add circles

.icon-circle-wrap {
  color: $colorGray;
  &:hover,
  &:focus {
    .icon-svg {
      transform: scale(1.05);
    }
  }
  .icon {
    width: 32px;
    height: 32px;
    border: 2px solid $colorYellow;
    border-radius: 100%;
    position: relative;
    bottom: -11px;
    margin: 0 5px 0 0;
    padding: 5px 0 0 0;
    text-align: center;
    .icon-svg {
      width: 17px;
      height: 18px;
      backface-visibility: hidden;
      margin: 0 auto;
    }
  }
}