/* ==========================================================================
  Post Wrap
========================================================================== */


.post-wrap {
  a {
    @include fontSemibold();
  }
  ul, ol {
    padding: 0 0 15px 25px;
    list-style: disc;
  }
  li {
    padding: 0 0 3px;
    &:last-of-type {
      padding: 0;
    }
  }
}