/* ==========================================================================
  Home
========================================================================== */


#infscr-loading {
  img, em {
    display: none !important;
  }
  h4 {
    text-align: center;
    padding: 40px 0 0 0;
  }
}